#container{
    height: 100%;
    width: 100%;
    background-color: #050F63;
}

#logo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#text {
  margin-top: 3vw;
  color: white;
}

.rotationR{
    animation: rotationRight 2s linear;
}
.rotationL{
  animation: rotationLeft 2s linear;
}

@keyframes rotationRight {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes rotationLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}