<div id="container" >

    <div (click)="loadWelcome()" id="logo">
        <img id="img1" [src]="listImgURL[0]">
        <img id="img2" [src]="listImgURL[1]" hidden>
        <img id="img3" [src]="listImgURL[2]" hidden>
        <img id="img4" [src]="listImgURL[3]" hidden>
        <img id="img5" [src]="listImgURL[4]" hidden>
        <img id="img6" [src]="listImgURL[5]" hidden>   
        <img id="img7" [src]="listImgURL[6]" hidden>   
        <p hidden id="text">Click to start !</p>   
    </div>
    

    

</div>
