@import "../../assets/scss/variables";

.magnifier__section {
  display: flex;

  .magnifier-container {
    position: relative;
    cursor: none;

    .magnifier-glass {
      position: absolute;
      width: $zone-width-magnifier;
      height: $zone-height-magnifier;
      background-size: 100% 100%;
      pointer-events: none;
      transition: opacity 0.2s;

      &.hidden {
        opacity: 0;
      }

      .magnifier-glass-lens {
        position: absolute;
        top: 0;
        left: 0;
        width: $zone-width-magnifier;
        height: $zone-height-magnifier;
        border-radius: 50%;
        border: $size-border-magnifier solid $black;
        background-color: $white;
        background-repeat: no-repeat;
      }
    }

    .magnifier-origin-image {
      width: 100%;
      height: 100%;
    }
  }
}