<section #section class="magnifier__section">
  <div #container class="magnifier-container">
    <div #glass class="magnifier-glass hidden">
      <div #lens class="magnifier-glass-lens" [style.background-image]="lensBackgroundImage"
        [style.background-size]="lensBackgroundSize" [style.borderWidth]="lensBorderWidth"
        [style.borderColor]="lensBorderColor"></div>
    </div>

    <img #originImage *ngIf="originImageUrl" class="magnifier-origin-image" alt="image" draggable="false"
      [src]="originImageUrl" />
  </div>
</section>