<section
  id='game-chatbot'
  class="game__chatbot--section"
  [ngClass]="{ 'hidden': !isDialogVisible, 'isMobile': isMobile }"
>
  <div class="btn-close">
    <img
      class="img-icon"
      [class.isMobile]='isMobile'
      [src]="imgBtnCloseUrl"
      alt="close image"
      draggable="false"
      (click)="onClick()"
      (mouseover)="onMouseOver()"
      (mouseleave)="onMouseLeave()"
    >
  </div>

  <div class="text-container">
    <div
      class="text"
      #content
      [innerHTML]="displayContent"
    ></div>
  </div>

</section>
<div class="overlay" [class.hidden]="!isDialogVisible"></div>
