@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

$icon-size: 12vh;
$icon-size-mobile: 8vh;
$transition: 200ms;

$max-width: 600px;
$width-web: 70vh;
$margin-bottom-web: 4vh;

$btn-action-color: #f46b9c;

.game__chatbot--section {
  max-width: 950px;
  min-width: 900px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: $transition;
  @include flex();
  z-index: 9999;

  &.hidden {
    opacity: 0;
    pointer-events: none;

    * {
      pointer-events: none !important;
    }
  }

  ::ng-deep ng-lottie {
    image {
      width: 1153px;
    }
  }

  .btn-close {
    position: absolute;
    left: 90.8%;
    right: 2.4%;
    top: 9.4%;
    bottom: 80.7%;
    z-index: 1003;
    cursor: pointer;
    text-align: right;

    .img-icon {
      height: 100%;
      width: auto;
    }

    &.isMulti {
      left: 82.05%;
      right: 15.23%;
      top: 8.74%;
      bottom: 85.82%;
    }
    @media screen and (max-width: 1080px) and (orientation: landscape) {
      min-width: unset;
      transform: unset;
      left: 91.85%;
      right: 6.59%;
      top: 14.42%;
      bottom: 74.95%;
    }
  }

  .text-container {
    position: absolute;
    margin: 0 3vw;
    height: 15vw;
    overflow: auto;
    display: flex;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: #01a982a6;
      background-clip: padding-box;
      border-radius: 24px;
    }

    .text {
      font-size: 2vw;
      line-height: 2.2vw;
      margin: auto 0;
    }
  }

  .bg {
    height: auto;
    width: 100%;
  }

  &.isMobile {
    min-width: unset;
    max-width: 355px;
    transform: unset;
    margin: 0 auto;
    left: 16.74%;
    right: 15.74%;
    top: 22.53%;
    bottom: 26.42%;

    .text-container {
      height: 14vw;
    }

    .btn-close {
      left: 91%;
      right: 4.59%;
      top: 15.42%;
      bottom: 73.95%;
    }
  }
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.32);
  z-index: 1002;

  &.hidden {
    opacity: 0;
    pointer-events: none;

    * {
      pointer-events: none !important;
    }
  }
}
