<section class="sliding-puzzle__section">
  <div class="puzzle">
    <div *ngIf="bgImages" class="grid">
      <button class="tile tile--1" type="button" style="--area:A" [style.backgroundImage]="bgImages[0]"
        [style.paddingBottom]="tilePaddingBottom"></button>

      <button class="tile tile--2" type="button" style="--area:B" [style.backgroundImage]="bgImages[1]"
        [style.paddingBottom]="tilePaddingBottom"></button>

      <button class="tile tile--3" type="button" style="--area:C" [style.backgroundImage]="bgImages[2]"
        [style.paddingBottom]="tilePaddingBottom"></button>

      <button class="tile tile--4" type="button" style="--area:D" [style.backgroundImage]="bgImages[3]"
        [style.paddingBottom]="tilePaddingBottom"></button>

      <button class="tile tile--5" type="button" style="--area:E" [style.backgroundImage]="bgImages[4]"
        [style.paddingBottom]="tilePaddingBottom"></button>

      <button class="tile tile--6" type="button" style="--area:F" [style.backgroundImage]="bgImages[5]"
        [style.paddingBottom]="tilePaddingBottom"></button>

      <button class="tile tile--7" type="button" style="--area:G" [style.backgroundImage]="bgImages[6]"
        [style.paddingBottom]="tilePaddingBottom"></button>

      <button class="tile tile--8" type="button" style="--area:H" [style.backgroundImage]="bgImages[7]"
        [style.paddingBottom]="tilePaddingBottom"></button>

      <div class="tile tile--empty" style="--area:I" [style.paddingBottom]="tilePaddingBottom"></div>
    </div>
  </div>
</section>