.sliding-puzzle__section {
  * {
    box-sizing: border-box;
  }

  .grid {
    display: grid;
    grid-column-end: span 3;
    grid-gap: 4px;
    grid-template-areas:
      "A B C"
      "D E F"
      "G H I";
    padding: 2px;
  }

  .tile {
    grid-area: var(--area, auto);
    padding-bottom: 100%;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &--empty {
      background: transparent;
      cursor: auto;
    }

    &[disabled] {
      cursor: not-allowed;
    }

    &:focus {
      outline: 2px solid #5ee1e6;
    }
  }
}
