@import "../../shared/assets/scss/_variables";
@import "../../shared/assets/scss/_mixin";

.cdk-overlay-container {
  .cdk-global-overlay-wrapper {
    .cdk-overlay-pane {
      max-width: 900px !important;

      &.dialog__opening {
        background: #cd978f;

        app-game-dialog {
          background: #e5a89e;

          .dialog-fields {
            max-height: 80vh;
            padding: 32px;
            overflow-x: auto;

            .icon-close {
              margin-bottom: initial;
              max-width: 32px;
            }
          }
        }
      }

      &.dialog__talking {
        position: relative !important;
        max-width: 100vw !important;
        margin-left: 36.65%;
        margin-right: 17.73%;
        margin-top: calc(6.7% - 46px) !important;

        .mat-dialog-container {
          &::before {
            content: " ";
            position: absolute;
            left: -40px;
            top: 69px;
            width: 0;
            height: 0px;
            border: 80px solid transparent;
            border-top-color: #f6f6ff;
            transform: rotate(228deg);
          }
        }

        app-game-dialog {
          position: relative;

          .close {
            img {
              width: 30px;
              position: absolute;
              top: 80px;
              right: 32px;
            }
          }

          .dialog-fields {
            justify-content: flex-start;
            border-left: 1px solid #f6f6ff;
            border-radius: 60px;
            padding: 24px 54px;
            background: #f6f6ff;

            .dialog-field-text {
              color: black;
              white-space: break-spaces;
            }

            .dialog-field-image {
              img {
                max-width: 200px;
              }
            }
          }
        }
      }

      &.error--dialog {
        @media screen and (max-width: 766px) {
          height: 100%;

          .mat-dialog-container {
            padding: initial;
          }
        }
      }

      &.full--screen--mobile__dialog {
        max-width: initial !important;

        .mat-dialog-container {
          app-game-dialog {
            .dialog-fields {
              .dialog-field-image {
                width: 100%;
                height: 100%;

                img {
                  width: 100%;
                  height: 100%;
                  max-width: initial;
                  max-height: initial;
                }
              }
            }
          }
        }

        @media screen and (max-width: 766px) {
          height: 100%;

          .mat-dialog-container {
            padding: initial;

            app-game-dialog {
              height: 100%;

              .dialog-fields {
                padding: initial !important;
                height: 100%;

                .dialog-field-image {
                  max-width: initial;
                  margin-bottom: initial;

                  width: 100%;
                  height: 100%;

                  img {
                    width: auto; // Put back to 100 % if not working properly
                    // height: 100%; // Put back if width:auto is not working
                    max-width: initial;
                    max-height: initial;
                    // object-fit: contain; // Put this to ensure a good format
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
