@import "../../shared/assets/scss/_variables";
@import "../../shared/assets/scss/_mixin";

.form-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  .form-section {
    @include flex(column);
    height: 100%;

    .logo {
      margin-bottom: 100px;
    }

    .form {
      color: $white;
      background: rgb(0, 0, 0, 0.3);
      min-width: 60vw;
      padding: 40px;
      @include flex(column);

      .form-column {
        @include flex(column);

        label {
          text-transform: uppercase;
          margin-bottom: 16px;
          letter-spacing: 12px;

          &.full-name {
            font-size: $xx-large;
            line-height: $line-height-xx-large;
          }
        }

        .custom-input {
          border: 1px solid $white;
          padding: 8px 16px 0;
          border-radius: 4px;
          @include flex();

          input {
            background: transparent;
            border: unset;
            color: $white;
            border-bottom: 1px solid $white;
            text-align: center;
            width: 100%;

            &:focus {
              outline: initial;
            }
          }

          &.full-name {
            height: 60px;
            width: 120%;

            input {
              font-size: $xx-large;
              line-height: $line-height-xx-large;
            }
          }
        }

        .error-container {
          margin-top: 16px;
        }

      }

      .form-actions {
        margin-top: 40px;
        @include flex(column);

        button {
          background: transparent;
          border: 1px solid $white;
          color: $white;
          border-radius: 4px;
          text-transform: uppercase;
          padding: 16px 32px 16px 40px;
          font-size: 24px;
          font-weight: 600;
          letter-spacing: 10px;
          cursor: pointer;

          &:hover {
            background: $white;
            color: #B07D39;
          }
        }
      }
    }

    &.form-table-section {
      min-width: 70vw;

      .logo {
        margin-bottom: 64px;
      }

      .form-column {
        width: 100%;

        label {
          font-size: $xx-large;
          line-height: $line-height-xx-large;
        }

        .custom-table {
          width: 100%;
          height: 40vh;
          overflow-x: auto;

          .mat-table {
            width: 100%;

            thead {
              display: none;
            }

            .mat-row {
              cursor: pointer;
            
              .mat-cell {
                border-left: 1px solid $white;
                border-right: 1px solid $white;
                font-size: $xs-large;
                line-height: $line-height-xs-large;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 4px;

                &.mat-column-teamName {
                  border-right: initial;
                }

                &.mat-column-status {
                  border-left: initial;
                  border-right: initial;
                }

                &.mat-column-numberUser {
                  text-align: end;
                  border-left: initial;

                  &:first-child {
                    border-top: 1px solid $white;
                  }

                  .form-row {
                    span {
                      margin-left: 8px;
                      font-weight: 500;
                    }
                  }
                }
              }

              &.full {
                background: transparent;
                color: #727272;
                pointer-events: none;

                .form-row {
                  svg {
                    path {
                      fill: #727272;
                    }
                  }
                }

                &:hover,
                &.selected {
                  background: transparent;
                  color: #727272;

                  .form-row {
                    svg {
                      path {
                        fill: #727272;
                      }
                    }
                  }
                }
              }

              &:hover,
              &.selected {
                color: #B07D39;
                background: $white;

                .form-row {
                  svg {
                    path {
                      fill: #B07D39;
                    }
                  }
                }
              }

              &:first-child {
                .mat-cell {

                  &.mat-column-teamName,
                  &.mat-column-numberUser,
                  &.mat-column-status {
                    border-top: 1px solid $white;
                  }
                }
              }
            }
          }

          .form-actions {
            margin-bottom: 24px;
          }
        }
      }
    }

    @media screen and (max-height: 679px) {
      padding: 32px 0;
    }
  }
}

@media screen and (max-width: 1366px) {
  .form-container {
    .form-section {
      .logo {
        max-width: 80%;
      }

      .form {
        .form-column {
          label {
            letter-spacing: 4px;

            &.full-name {
              font-size: $normal;
              line-height: $line-height-normal;
            }
          }

          .custom-input {
            input {
              background: transparent;
              border: unset;
              color: $white;
              border-bottom: 1px solid $white;
              text-align: center;
              width: 100%;

              &:focus {
                outline: initial;
              }
            }

            &.full-name {
              height: 60px;
              width: 100%;

              input {
                font-size: $normal;
                line-height: $line-height-normal;
              }
            }
          }

          .error-container {
            margin-top: 16px;
          }

        }

        .form-actions {
          margin-top: 40px;
          @include flex(column);

          button {
            background: transparent;
            border: 1px solid $white;
            color: $white;
            border-radius: 4px;
            text-transform: uppercase;
            padding: 16px 32px 16px 40px;
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 10px;
            cursor: pointer;

            &:hover {
              background: $white;
              color: #B07D39;
            }
          }
        }
      }
    }
  }
}