@import "../../shared/assets/scss/variables";

/* Background*/
.tutorial-background {
  width: 100%;
  height: 100vh;
  background: #16AF8B;

  .image-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .tutorial-black-area {
    position: absolute;
    z-index: 1;
    background: black;
    cursor: pointer;
  }

  .tutorial-animation-step {
    pointer-events: none;
    position: absolute;
    z-index: 10000;
  }

  ng-lottie {
    pointer-events: none;
    position: absolute;
    z-index: 10000;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
  }
}

/* Description, click area */
.tutorial-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  z-index: 1001;

  [class*=tutorial-click] {
    position: absolute;
    cursor: pointer;
  }

  [class*=tutorial-description] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    max-width: 500px;

    span {
      color: white;
    }

    .title {
      font-size: 24px;
    }
    .content {
      font-size: 20px;
    }
  }
}

/* Button Next*/
[class*=button--tutorial] {
  background: white;
  padding: 8px 32px;    
  border: initial;
  cursor: pointer;
  z-index: 1001;

  span {
    font-size: 2.5vh;
    text-transform: uppercase;
    color: #02AA83;
  }
}
