.superpose {
    position: absolute;
    top: 0px;
    left: 0px;
}

#img1 {
    z-index: -5;
}

#img2 {
    z-index: -4;
}

#img3 {
    z-index: -3;
}

#img4 {
    z-index: -2;
    top: 6vw;
    left: 10vw;
}
#img5 {
    z-index: -1;
    top: 17vw;
    left: 10vw;
}
.text-container {
    margin-top: 15vw;
}

#bold-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    line-height: 2vw;
}

#italic-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    justify-content: center;
    font-style: italic;
    text-align: center;
    line-height: 2vw;
}

#start{
    color: #AEAEAE;
    font-size: 2vw;
    text-align: center;
    margin-top: 2vw;
}
