<img [@slideInOut]="state" (click)="onAnimate()" id="img1" class="superpose" [src]="backgroundImg" height="100%">
<img [@slideInOut]="state" (click)="onAnimate()" id="img2" class="superpose" [src]="fogIsland2" height="100%">
<img [@slideInOut]="state" (click)="onAnimate()" id="img3" class="superpose" [src]="fogIsland3" height="100%">

<div (click)="loadGame1()" (click)="onAnimate()"[style.opacity]="opacityValue" [style.transition]="opacityTransition" class="text-container">
    <p id="bold-text">Bienvenue chez Emeraude, l’archipel où nous créons les jeux de <br> demain ! 3 talents
        y règnent, chacun a son univers, chacun a son île : <br>L’île ludique, l’île esthétique, l’île
        technique. Partez à la découverte <br>de chacune des îles, des étapes de création d’un jeu et
        réalisez un <br>super jeu !</p>
    <p id="italic-text">Welcome to Emeraude, the archipelago where the future of game is <br>created ! 3
        talents are living there, with their own universe, their own island: <br>play island, aesthetic
        island, IT island. Let’s discover each island, the steps <br>of game making and create an awesome
        game !</p>


    <img id="img4" class="superpose" [src]="cloud" height="75%">
    <img id="img5" class="superpose" [src]="coolGuys" height="40%">

    <p id="start">Jouer</p>

</div>