<section 
  id='game-key'
  class="key__section"
  [ngClass]="{'hidden': !isVisible}">
  <div class="key-container">
    <div *ngIf="isKeyCollected" class="number-key key--collected" [@inOutAnimation]>
      <span>+1</span>
    </div>
    <!-- <div *ngIf="!isKeyCollected" class="number-key">
      <span>{{ numbOfKeyFounded }}</span>
    </div> -->
    <img [src]="keyUrl" alt="key image">
  </div>
</section>