@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

$size-visio: 80px;

$right-key: 4vw;
$bottom-key: 36px;

$right-number: 0;
$top-number: -30px;
$top-number-mobile: -16px;

$right-key-mobile: 7vw;
$top-key-mobile: 25px; //calc((4vh - #{$top-number-mobile} / 2) + #{$size-visio});


:host {
  .key__section {
    position: absolute;
    right: $right-key;
    bottom: $bottom-key;
    z-index: 1001;
    pointer-events: none;

    .key-container {
      position: relative;

      .number-key {
        position: absolute;
        right: $right-number;
        top: $top-number;
        @include flex();

        span {
          font-size: 50px;
          color: $font-color-primary;
          font-family: $secondary-font;
        }

        &.key--collected {
          border-radius: 50%;
          border: 4px solid $yellow;
          right: -26px;

          span {
            font-size: 40px;
            line-height: 40px;
            padding: 8px;
          }
        }
      }
    }

    img {
      height: 60px;
    }

    @media screen and (max-width: 766px) {
      bottom: initial;
      right: $right-key-mobile;
      top: $top-key-mobile;

      .key-container {
        .number-key {
          top: $top-number-mobile;

          span {
            font-size: $xs-large;
          }

          &.key--collected {
            border-width: 2px;
            right: -16px;
  
            span {
              font-size: $large;
              line-height: $large;
              padding: 4px;
            }
          }
        }
      }

      img {
        height: 50px;
      }
    }
  }
}