<app-game-board>
  <div class="fixed-components">
    <app-game-navigation></app-game-navigation>
    <app-game-timer></app-game-timer>
    <app-game-navigation-back></app-game-navigation-back>
    <app-game-inventory></app-game-inventory>
    <app-game-sound></app-game-sound>
    <app-game-key></app-game-key>
    <!-- <app-game-chatbot></app-game-chatbot> -->
  </div>
</app-game-board>
