@import "./variables";
@import "./mixin";

$text-container-padding: 24px;
$text-container-bg: #faebe4;


.cdk-overlay-container {
  .cdk-overlay-backdrop {
    &.backdrop__introduction {
      background: transparent;
    }
  }

  .cdk-global-overlay-wrapper {
    .cdk-overlay-pane {
      width: auto;

      &.dialog-intro {
        width: 50vw;
        margin-top: $vertical-tool + 4px !important;
        margin-left: ($horizontal-tool + $width-clue) !important;
        justify-content: start;

        .mat-dialog-container {
          background: transparent;
          border: none;
          width: auto;

          .dialog-fields {
            position: relative;
            display: flex;
            flex-direction: row;
            min-height: auto;
            padding: 0;

            .dialog-field {
              max-width: 100%;
            }

            .dialog-field-image {
              margin-bottom: 10vh;
              margin-right: 32px;

              img {
                width: auto;
                max-width: initial;
                max-height: initial;
              }
            }

            .dialog-field-text {
              position: relative;
              background: $text-container-bg;
              margin: 0;
              padding: $text-container-padding;
              border-radius: 16px;
              font-style: italic;
              @include font(300, $large, $line-height-large, $font-color);
              pointer-events: auto;

              &:before {
                content: " ";
                position: absolute;
                top: 0px;
                right: auto;
                bottom: auto;
                left: -24px;
                width: 0;
                height: 0;
                border: 24px solid;
                border-color: $text-container-bg transparent transparent transparent;
              }
            }
          }
        }
      }

      &.dialog-scene-1 {
        .mat-dialog-container {
          background: $white;
          border: 2px solid #2d6279;
        }
      }
    }
  }
}

@media screen and (max-width: 766px) {
  .cdk-overlay-container {
    .cdk-global-overlay-wrapper {
      .cdk-overlay-pane {
        &.dialog-intro {
          max-width: 100vw !important; // override inline style dialog
          width: 100%;
          margin-top: $vertical-mobile-tool !important;
          margin-left: ($horizontal-mobile-tool + $width-clue - 20px) !important;

          .mat-dialog-container {
            align-items: initial;

            .dialog-fields {
              .dialog-field-image {
                margin-right: 16px;
                margin-top: -10vh;
                margin-bottom: initial;

                img {
                  width: 64px;
                }
              }

              .dialog-field-text {
                padding: 16px;
                @include font(399, $medium, $line-height-medium, $font-color);

                &:before {
                  content: " ";
                  left: -14px;
                  right: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}
