@mixin flex($direction: row, $justify-content: center, $align-items: center) {
  display:-webkit-box; // old
  display:-moz-box; // old
  display:-ms-flexbox; // ie
  display:-webkit-flex; // new
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

/// Display Order
// - applies to: flex items
// <integer>

@mixin order($int: 0) {
-webkit-box-ordinal-group: $int + 1;
-moz-box-ordinal-group: $int + 1;
-webkit-order: $int;
-ms-flex-order: $int;
order: $int;
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($int: 1) {
-webkit-box-flex: $int;
-moz-box-flex: $int;
-webkit-flex-grow: $int;
-ms-flex: $int;
flex-grow: $int;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
@mixin flex-shrink($int: 0) {
-webkit-flex-shrink: $int;
-moz-flex-shrink: $int;
-ms-flex: $int;
flex-shrink: $int;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
@mixin flex-basis($value: auto) {
-webkit-flex-basis: $value;
flex-basis: $value;
}

@mixin line($color: $primary, $height: 1px, $width: 100%) {
background: $color;
height: $height;
width: $width;
margin-top: 8px;
margin-bottom: 24px;
}

@mixin font($font-weight: normal, $font-size: $normal, $line-height: 20px, $color: black) {
font-weight: $font-weight;
font-size: $font-size;
line-height: $line-height;
color: $color;
}


/* ----------------------------------------- */
/*                 CUSTOM MIXIN              */
/* ----------------------------------------- */

@mixin border-bg($border-width: 4px, $border-radius: 16px) {
  background-color: rgba($primary-color, 0.2);
  border: $border-width solid rgba($primary-color, 0.32);
  border-radius: $border-radius;
}