// IMPORTANT - DO NOT DELETE
// COLOR SYSTEM STYLE GUIDE
$primary: #0F708B;
$primary2: #024A56;
$gray: #646B6C;
$gray1: #a1a19f;
$gray2: #d0d0d0;
$gray3: #e7e7e7;
$white: #ffffff;
$black: #000000;
$dark-blue: #282f60;
$green: #3DA935;
$orange: #FCCA0B;
$yellow: #D2B16F;

$font-color: #ffffff;
$font-color-timer: #78CBE5;
$font-color-error: #E95331;
$font-color-success: #2BD875;

// background
$background-primary: #FAEBE4;

// border
$border-color: #2D6279;

// fonts
$primary-font: 'Calibri', sans-serif;
$secondary-font: 'Grenze Gotisch', sans-serif;

// fonts color
$font-color-primary: #D2B16F;

// fonts size
$small: 12px;
$medium: 14px;
$normal: 16px;
$large: 18px;
$xs-large: 24px;
$x-large: 26px;
$xx-large: 32px;
$xl-large: 46px;

// line height
$line-height-small: 16px;
$line-height-medium: 20px;
$line-height-normal: 24px;
$line-height-large: 28px;
$line-height-xs-large: 32px;
$line-height-x-large: 34px;
$line-height-xx-large: 40px;
$line-height-xl-large: 58px;

// transition
$base-transition-duration: 250ms;

$padding-tool: 32px;
$padding-tool-mobile: 8px;
$width-tool: 82px;
$width-tool-mobile: 40px;

// magnifier
$size-border-magnifier: 10px;
$zone-width-magnifier: 80px;
$zone-height-magnifier: 80px;

// tool
$horizontal-tool: -215px;
$vertical-tool: 24px;

$horizontal-mobile-tool: 16px;
$vertical-mobile-tool: 16px;

$width-clue: 68px;
$width-mobile-clue: 60px;

// layout
// NOTE: http://www.darkhelm.org/2018/11/angular-material-breakpoints-details.html
$mobile-width: 599px;
$mobile-height: 480px;
$landscape-mobile-width: 959px;