@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";

drag-scroll {
  height: 100%;
  width: auto;

  overflow: hidden;
  transition: 0.25s;
  user-select: none;

  ::ng-deep .drag-scroll-content {
    height: 100% !important;
    width: 100% !important;

    .board-container {
      height: 100%;
      position: relative;
      margin: 0 auto;
      overflow: hidden;
      width: fit-content;

      .board-foreground {
        position: absolute;
        height: 100%;
        width: 100%;
        margin: auto;

        svg {
          height: 100%;
          width: initial;

          @media screen and (max-width: 766px) {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
        }
      }

      .board-background {
        height: 100%;
        image-rendering: crisp-edges;

        &.disabled--scroll {
          position: fixed;
        }
      }
    }
  }
}