<drag-scroll id="drag-scroll">
  <div class="board-container">
    <div id="board-foreground" class="board-foreground"></div>
    <img *ngIf="boardlBackgroundImageUrl" class="board-background" [src]="boardlBackgroundImageUrl">
    <router-outlet></router-outlet>
  </div>
</drag-scroll>
<ng-content></ng-content>
