@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

$primary-gradient: linear-gradient(246.72deg, #69d6ff 4.32%, #2d7895 97.45%);

$inventory-container-width: max(112px, min(10vh, 80px));
$inventory-container-height: $inventory-container-width;
$inventory-container-padding: 16px 32px;
$inventory-container-background: $primary-gradient;
$inventory-container-border-radius: 66px;

$inventory-container-open-width: fit-content;
$inventory-container-open-max-width: max(800px, 70vw);
$inventory-container-open-height: $inventory-container-height;
$inventory-container-open-background: #2C6278;
$inventory-container-open-border-radius: 103px;

$inventory-container-width-mobile: 10vh;
$inventory-container-height-mobile: $inventory-container-width-mobile;

$inventory-container-open-max-width-mobile: 90vw;
$inventory-container-open-height-mobile: $inventory-container-height-mobile;
$inventory-container-open-border-radius: 103px;

$inventory-container-bg-scene2: #8DB4E2;
$inventory-item-container-bg-scene2: #C7DAF2;

$gap-close: 8px;

.inventory-container {
  overflow: hidden;
  transition: 200ms;
  z-index: 1001;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  .open-inventory {
    position: absolute;
    left: 4.44%;
    right: 93.06%;
    bottom: 6.56%;
    top: 82.31%;

    img {
      width: 100%;
      object-fit: cover;
    }

    .bg {
      height: 100%;
      width: 100%;
    }
  }

  &.open {

    app-game-inventory-item-container {
      position: absolute;
      left: 4.44%;
      right: 72.4%;
      bottom: 6.56%;
      top: 81.8%;
    }
  }

  &.isMobile {
    .open-inventory {
      left: 9.2%;
      right: 87.1%;
      top: 75.42%;
      bottom: 12.42%;
    }

    &.open {
      app-game-inventory-item-container {
        left: 9.2%;
        right: 72.4%;
        bottom: 12.42%;
        top: 75.42%;
      }
    }
  }

  @media screen and (max-width: 766px) {}
}
