<div #inventory class="inventory-container"
  [ngClass]="{ 'open': isOpen, 'hidden': !isVisible, 'isMobile': isMobile }"
>
  <div id='game-inventory' class="clickable open-inventory" (click)="toggle()" *ngIf="!isOpen" [@inOutAnimation]>
    <img class="bg" [src]="imageBagUrl" alt="inventory close">
  </div>
  <app-game-inventory-item-container 
    class='clickable' 
    *ngIf="isOpen"  
    (click)="toggle()" 
    [@inOutAnimation]>
  </app-game-inventory-item-container>
</div>
