<section
  id='game-sound'
  class="game-sound__section"
  [class.hidden]="!isVisible"
  [ngClass]="{'move': isMove }"
>
  <div class="control-container">
    <div
      class="control control-mute"
      (click)="toggleMute()"
    >
      <img [src]="iconSrc">
    </div>
  </div>

  <div class="audio-container">
    <!-- <audio
      autoplay
      loop
      muted
      [src]="audioSource"
    >
      Your browser does not support the audio element.
    </audio> -->
  </div>
</section>
