@import "../../assets/scss/variables";

.game-sound__section {
  position: absolute;
  left: 21.41%;
  right: 75.86%;
  top: 10.35%;
  bottom: 85.21%;
  transition-duration: $base-transition-duration;

  display: flex;
  align-items: center;

  &.move {
    left: 250px;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.isMobile {
    left: 26.59%;
    right: 68.41%;
    top: 12.42%;
    bottom: 81.95%;
  }

  .control-container {
    .control {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .control-mute {
      img {
        width: 100%;
      }
    }
  }

  .audio-container {
    height: 0;
  }
}
