@import"../../assets/scss/mixin";
@import"../../assets/scss/variables";

@mixin full-content {
  width: 100%;
  height: 100%;
}

@mixin position($top: 0, $left: 0, $right: 0, $bottom: 0) {
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

@mixin font-detail($font-detail: 16px) {
  font-family: $secondary-font;
  color: #D2B06F;
  font-size: $font-detail;
  line-height: $font-detail;
}

:host {
  .error--dialog__section {
    background: #840707;
    position: relative;
    padding: 24px;

    img {
      @include full-content;
    }

    .error--content {
      position: absolute;
      @include position();
      @include full-content();
      @include flex(column);

      &:before,
      &:after {
        content: '';
        display: block;
      }

      span {
        @include font-detail(60px);
        white-space: pre;
        letter-spacing: 4px;
        text-align: center;
      }

      button {
        @include font-detail(30px);
        margin-top: 32px;

        padding: 8px 32px 12px;
        border: 3px solid #D2B06F;
        border-radius: 99px;
        background: transparent;


        &:hover {
          background: #D2B06F;
          color: #A50E0E;
          cursor: pointer;
        }
      }
    }
  }

  @media screen and (max-width: 766px) {
    height: 100%;

    .error--dialog__section {
      padding: 0 24px;
      height: 100%;

      .error--content {
        span {
          @include font-detail(38px);
          padding: 0 16px;
        }
      }
    }
  }
}