<section class="error--dialog__section">
  <img [src]="borderUrl">
  <div class="error--content"> 
    <span>{{textError}}</span>
    <button (click)="onReturn()">{{'Button.Return' | translate}}</button>
  </div>
</section>