@import '../../assets/scss/mixin';

$gap-left-item: 2px;
$size-border-box: 4px;

.game-inventory-item-container__section {
  max-width: 378px;
  max-height: 100px;
  height: 6vw;
  width: 22vw;
  background-size: cover;
  background-position: center;

  .item-container {
    position: relative;
    @include flex();
    height: 100%;
    width: 100%;

    drag-scroll {
      height: 100%;
      width: 100%;
      ::ng-deep .drag-scroll-content {
        display: flex !important;
        @include flex($justify-content: flex-start);
        gap: 4px;
        margin-left: 4px;
        overflow-x: hidden;
        > div {
          height: 100%;
          @include flex();

          img {
            max-width: 5vw;
            max-height: 5vw;
            object-fit: contain;

            &.hidden {
              display: none !important;
            }

            &.drag-enable {
              // position: fixed;
            }
          }

          .cdk-drag.cdk-drag-placeholder {
            visibility: hidden;
          }
        }
      }
    }

    @media screen and (max-width: 600px) {
      padding: 12px 8px;

      .control {
        img {
          width: 12px;
        }
      }

      drag-scroll {
        margin: 0 8px;

        img {
          max-width: 60px;
          max-height: 60px;
        }

        img + img {
          margin-left: 8px;
        }
      }
    }
  }
}
