<section class="game-inventory-item-container__section" [style.backgroundImage]='backgroundImageUrl'>
  <div class="item-container" >
    <drag-scroll [snap-disabled]="true">
      <div cdkDropList
          [cdkDropListConnectedTo]="listConnectId"
          [cdkDropListData]="items"
          (cdkDropListDropped)="drop($event)"
          *ngFor="let item of items">
        <img *ngIf="item?.imgSrc"
          drag-scroll-item
          [@inOutAnimation]
          [class.hidden]="item.isActive || item.hidden"
          [src]="item?.imgSrc"
          [id]="item.id" />
        <img *ngIf="item?.imgSrcActive"
            cdkDrag
            drag-scroll-item
            [@inOutAnimation]
            [cdkDragData]="item"
            [cdkDragDisabled]="!item?.canDrag"
            [class.clickable]="item?.canDrag || item?.dialogData || item?.onClick"
            [class.hidden]="!item?.isActive || item?.hidden"
            [src]="item?.imgSrcActive"
            [id]="item.id"
            (cdkDragStarted)="onDragStarted($event, item)"
            (cdkDragEnded)="onDragEnded($event, item)"
            (mousedown)="onClick(item)" />
      </div>
    </drag-scroll>
  </div>
  
</section>