@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

$timer-width: 15vw;
$timer-height: 4vw;
$timer-width-mobile: 150px;
$timer-height-mobile: 86px;
$timer-left-mobile: calc(50% - #{$timer-width-mobile} / 2);

$timer-font-size: 1.5vw;
$timer-font-size-mobile: 28px;

.timer-container {
  position: absolute;
  left: 4.4%;
  right: 80.43%;
  top: 8.74%;
  bottom: 82.6%;
  max-width: 274px;
  max-height: 78px;

  @include flex();
  z-index: 1001;
  pointer-events: none;

  &.hidden {
    opacity: 0;
  }

  &.isMobile {
    left: 5.2%;
    right: 76.18%;
    top: 12.42%;
    bottom: 80.58%;
  }

  .timer {
    background-color: #eeeeee;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;

    .timer-inner-container {
      @include flex();

      height: 100%;
      width: 100%;

      .number {
        display: flex;
        justify-content: center;
        width: 100%;

        span {
          color: $white;
          font-family: $secondary-font;
          font-size: $timer-font-size;
          letter-spacing: 4px;
        }
      }
    }
  }

  .timer-penalty {
    @include flex();
    width: 45px;
    height: 45px;
    margin-right: 24px;
    border-radius: 50%;
    border: 2px solid $font-color-error;

    span {
      color: $font-color-error;
      font-family: $secondary-font;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
