<div
  class="timer-container"
  [ngClass]="{ 'hidden': !isVisible, 'isMobile': isMobile }"
>
  <div
    *ngIf="isPenaltyVisible"
    class="timer-penalty"
    [@inOutAnimation]>
    <span>+30</span>
  </div>

  <div
    id="game-timer"
    class="timer"
    [style.background-image]='backgroundImage'>
    <div class="timer-inner-container">
      <div class="number">
        <span class="">{{ hourValue }}</span>
        <span>.</span>
        <span>{{ minuteValue }}</span>
        <span>.</span>
        <span>{{ secondValue }}</span>
      </div>
    </div>
  </div>
</div>
