#background{
    position: absolute;
    z-index: -1;

}

.platform{
    position: absolute;
    //margin-top: -292vw;

}

#bandeau{
   //margin-top: -4000px;
    position: absolute;
    bottom: 0;

}

#doodler{
    position: absolute;
}

#container{
    margin-top: -292vw;


}
