<div id="container">
    <img id="background" [src]="game1backgroundURL" width="100%">

    <div *ngFor="let platform of listPlatform; let i=index" [style.left.vw]="platformPosition[i].left"
        [style.marginTop.vw]="platformPosition[i].bottom" class="platform">
        <img [src]="platform" alt="platform">
    
    </div>
    <img (click)="launchGame()" id="bandeau" [src]="tutoGame1URL" width="100%">
    <img id="doodler" [src]="coolGuysURL" width="8%">
</div>

