@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

$timer-top: 2vh;

$timer-width: 208px;
$timer-height: 118px;
$timer-left: calc(50% - #{$timer-width} / 2);

$timer-width-mobile: 150px;
$timer-height-mobile: 86px;
$timer-left-mobile: calc(50% - #{$timer-width-mobile} / 2);

$gap-bg: -16px;
$gap-bg-mobile: -9px;

$timer-font-size: 38px;
$timer-font-size-mobile: 28px;

.timer-container {
  position: fixed;
  top: $timer-top;
  left: $timer-left;
  width: $timer-width;
  height: $timer-height;

  @include flex();
  z-index: 1001;
  pointer-events: none;

  &.hidden {
    opacity: 0;
  }

  .timer {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;

    .timer-inner-container {
      @include flex();

      height: 100%;
      width: 100%;
      
      .number {
        display: flex;
        width: 100%;
        margin-bottom: 16px;

        .mm--timer {
          text-align: right;
          width: 48%;
        }


        span {
          color: $font-color-primary;
          font-family: $secondary-font;
          font-size: $timer-font-size;
          letter-spacing: 4px;
        }
      }
    }
  }

  @media screen and (max-width: 766px) {
    width: $timer-width-mobile;
    height: $timer-height-mobile;
    left: $timer-left-mobile;

    .timer {
      .timer-inner-container {
        margin-top: $gap-bg-mobile;

        .number {
          span {
            font-size: $timer-font-size-mobile;
          }
        }
      }
    }
  }
}