<div
  class="timer-container"
  [class.hidden]="!isVisible">
  <div
    id="game-timer"
    class="timer"
    [style.background-image]='backgroundImage'>
    <div class="timer-inner-container">
      <div class="number">
        <span class="mm--timer">{{ minuteValue }}</span>
        <span>:</span>
        <span>{{ secondValue }}</span>
      </div>
    </div>
  </div>
</div>