@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

.game-dialog__section {
  color: $dark-blue;

  .close {
    height: 46px;
    @include flex($justify-content: flex-end);

    img {
      margin-left: 16px;
      padding: 8px;
      border-radius: 8px;
    }
  }

  .dialog-fields {
    padding: 32px;
    padding-top: 0px;
    @include flex($direction: column);

    .dialog-field {
      max-width: 80vw;
      color: $font-color;

      &.strong {
        font-weight: bold;
      }

      &.dialog-field-text {
        max-width: 570px;
      }

      &.small {
        min-width: 570px;

        img {
          width: 100%;
        }
      }
    }

    .dialog-field-row {
      display: flex;

      .dialog-field {
        width: 100%;
      }

      .police-picture {
        width: 70%;
      }
    }

    .dialog-field-title {
      margin: 16px;
      text-align: center;
      white-space: pre-line;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
    }

    .dialog-field-text {
      text-align: center;
      white-space: pre-line;
      margin-bottom: 32px;
      @include font(500, $xs-large, $line-height-large, $font-color);
    }

    .dialog-field-error {
      color: $font-color-error;
      text-align: center;
      white-space: pre-line;
      margin-top: 16px;

      &.text-success {
        color: $font-color-success;
      }
    }

    .dialog-field-image {
      text-align: center;
      margin-bottom: 32px;

      &.small {
        img {
          max-height: 400px;
        }
      }

      &.large {
        max-height: 40vh;
        height: 100vh;
        width: 100%;

        img {
          width: 100%;
          max-height: 40vh;
          height: 50vh;
        }
      }

      img {
        max-width: 100%;
        max-height: 500px;
      }
    }

    .dialog-field-button {
      margin-top: 24px;
      text-align: center;
    }

    .dialog-field-typewriter {
      font-size: 18px;
      line-height: 28px;
    }

    /* Hide Arrows From Input Number */
    .dialog-field-code-input {
      code-input {
        --item-spacing: 16px;
        --item-height: 4em;
      }
    }

    .dialog-field-media {
      iframe {
        width: 50vw;
        height: 50vh;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .dialog-fields {
      padding: 8px !important;

      .dialog-field {
        max-width: 90vw;

        &.image-small {
          min-width: 90vw;
        }
      }

      .dialog-field-row {
        flex-direction: column;
      }

      .dialog-field-title {
        font-size: 20px;
        line-height: 26px;
        margin: 8px;
      }

      .dialog-field-text {
        font-size: 16px;
        line-height: 22px;
      }

      .dialog-calendar-magifier {
        max-width: 90vw;
      }

      .dialog-field-image.change-pass-hint {
        img {
          max-width: 60%;
          max-height: 500px;
        }
      }

      .dialog-field-media {
        iframe {
          width: auto;
        }
      }
    }
  }
}