<span class="game-dialog__section">
  <div
    *ngIf="!data?.hideClose && !dialogRef?.disableClose"
    class="close"
  >
    <img
      class="clickable"
      [src]="data?.iconCloseUrl || 'assets/svg/icons/close.svg'"
      (click)="close()"
    />
  </div>

  <div
    class="dialog-fields"
    content
  >
    <ng-container *ngFor="let field of data?.fields">
      <ng-container *ngTemplateOutlet="fieldTemplate; context: { field: field }"></ng-container>
    </ng-container>

    <ng-content></ng-content>
  </div>
</span>

<ng-template
  #fieldTemplate
  let-field="field"
>
  <ng-container
    *ngIf="!field?.hidden"
    [ngSwitch]="field?.type"
  >
    <div
      *ngSwitchCase="gameDialogDataFieldType.ROW"
      class="dialog-field dialog-field-row"
      [class]="field?.clazz"
    >
      <ng-container *ngFor="let childField of field?.fields">
        <ng-container *ngTemplateOutlet="fieldTemplate; context: { field: childField }"></ng-container>
      </ng-container>
    </div>

    <div
      *ngSwitchCase="gameDialogDataFieldType.TITLE"
      class="dialog-field dialog-field-title"
      [class]="field?.clazz"
      [innerHTML]="field?.value | async"
    ></div>

    <div
      *ngSwitchCase="gameDialogDataFieldType.TEXT"
      class="dialog-field dialog-field-text"
      [class]="field?.clazz"
      [innerHTML]="field?.value | async"
    ></div>

    <div
      *ngSwitchCase="gameDialogDataFieldType.ERROR"
      class="dialog-field dialog-field-error"
      [class]="field?.clazz"
    >
      {{ field?.value | async }}
    </div>

    <div
      *ngSwitchCase="gameDialogDataFieldType.IMAGE"
      class="dialog-field dialog-field-image"
      [class]="field?.clazz"
    >
      <img
        [src]="field?.value"
        [class.clickable]="field?.onClick"
        (click)="onClick(field)"
      />
    </div>

    <div
      *ngSwitchCase="gameDialogDataFieldType.BUTTON"
      class="dialog-field dialog-field-button"
      [class]="field?.clazz"
    >
      <button
        class="button__primary"
        [disabled]="field?.disabled"
        (click)="onClick(field)"
      >
        {{ field?.value | async }}
      </button>
    </div>

    <div
      *ngSwitchCase="gameDialogDataFieldType.MEDIA"
      class="dialog-field dialog-field-media"
      [class]="field?.clazz"
    >
      <iframe
        [src]="field?.value | safe"
        frameborder="0"
        webkitAllowFullScreen
        mozallowfullscreen
        allowFullScreen
      ></iframe>
    </div>

    <div
      *ngSwitchCase="gameDialogDataFieldType.CODE_INPUT"
      class="dialog-field dialog-field-code-input"
      [class]="field?.clazz"
    >
      <!-- <code-input
        [code]="field?.codeConfig?.code"
        [codeLength]="field?.codeConfig?.codeLength"
        [inputType]="field?.codeConfig?.inputType"
        [isCodeHidden]="field?.codeConfig?.isCodeHidden"
        [isNonDigitsCode]="field?.codeConfig?.isNonDigitsCode"
        (codeChanged)="
          field?.codeConfig?.codeChanged
            ? field.codeConfig.codeChanged($event, field)
            : null
        "
        (codeCompleted)="
          field?.codeConfig?.codeCompleted
            ? field.codeConfig.codeCompleted($event, field)
            : null
        "
      ></code-input> -->
    </div>
  </ng-container>
</ng-template>
