:host {
  ::ng-deep app-game-dialog {
    .dialog-fields {
      .item-container {
        position: relative;
        display: flex;
        gap: 24px;
        padding: 24px 40px;
        background: #1C1D21;

        .item {
          img {
            width: 80px;
            height: 80px;
          }

          .empty-image {
            width: 80px;
            height: 80px;
            background: white;
            opacity: 0.2;
            border-radius: 50%;
          }
        }

        .btn-close {
          position: absolute;
          right: 12px;
          top: 12px;
          width: 20px;
          cursor: pointer;
        }
      }
    }
  }
}