<section class="inventory-dialog__section">
  <app-game-dialog>
    <div class="item-container">
      <img class="btn-close" src="./assets/images/common/btn-close.svg" alt="close image" (click)="onClose()">
      <div class="item" *ngFor="let item of [].constructor(maxImage); let i = index">
        <img *ngIf="imagesUrl[i] else emptyImage" [src]="imagesUrl[i]" alt="sub item image">
      </div>
    </div>
  </app-game-dialog>
</section>

<ng-template #emptyImage>
  <div class="empty-image"></div>
</ng-template>