<div class="clue-container" *ngIf="imageUrl" [class.hidden]="!isVisible" [class.open]="isOpen">
  <div class="inner-container">
    <img [src]="imageUrl" alt="clue image" (click)="onClick()">
    <div class="d-flex content" [class.display]="isOpen">
      <div class="title">{{ 'Permanent.Element.Clue.Title' | translate}}</div>
      <div class="description">{{ message | async }}</div>
    </div>
  </div>
  <!-- <div class="avatar">
    <img [src]="imageUrl" alt="clue image" (click)="onClick()">
  </div> -->
</div>