@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

$max-width-content: 550px;
$max-width-mobile-content: 300px;
$right-section: -216px;

:host {
  .clue-container {
    position: fixed;
    top: $vertical-tool;
    z-index: 1001;
    right: $right-section;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &.hidden {
      display: none;
    }

    .inner-container {
      display: flex;
      padding: 20px;
      align-items: center;
      max-width: $max-width-content;
      transition: 1s;

      img {
        width: $width-clue;
        cursor: pointer;
      }

      .content {
        opacity: 0;
        visibility: hidden;

        .title {
          margin-bottom: 10px;
          font-weight: bold;
          font-size: $large;
          text-align: justify;
        }

        .description {
          font-size: $normal;
        }
      }
    }

    .avatar {
      margin-top: 8px;
      transition: all 2s;
      cursor: pointer;
    }

    &.open {
      color: $font-color;

      .inner-container {
        background: #393939;
        transform: translateX(-70%);
        opacity: 1;
        visibility: visible;
        transition: visibility 0s, opacity 1s, transform 1s;

        img {
          margin-right: 16px;
        }

        .content {
          &.display {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      .avatar {
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
      }
    }
  }

  @media screen and (max-width: 766px) {
    .clue-container {
      top: 12px;

      .inner-container {
        max-width: $max-width-mobile-content;
        padding: 8px;

        img {
          width: $width-mobile-clue;
        }

        .content {
          .title {
            font-size: $normal;
          }

          .description {
            font-size: $medium;
          }
        }
      }

      &.open {
        .inner-container {
          .container {
            .title {
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
}