// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import "~@angular/cdk/overlay-prebuilt.css";

@import "./shared/assets/scss/variables";
@import "./shared/assets/scss/permanent-element.variables";
@import "./assets/scss/dialog";
@import "./assets/scss/_form";
@import "./assets/scss/_tutorial";
@import "./assets/scss/_permanent-element";

* {
  font-family: $primary-font;
  font-weight: normal;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

button {
  outline: none;
}

.cdk-overlay-container {
  .cdk-global-overlay-wrapper {
    .cdk-overlay-pane {
      width: 100%;
      display: flex;
      justify-content: center;

      .mat-dialog-container {
        max-height: 100vh;
        overflow: auto;
      }
    }
  }
}

.clickable {
  cursor: pointer;
  user-select: none;
  outline: none;
}

.drag-scroll-content::-webkit-scrollbar {
  display: none;
}

.success__snack-bar {
  background-color: $primary;
  color: $white;
  font-weight: bold;
}

.failure__snack-bar {
  background-color: $primary2;
  color: $white;
  font-weight: bold;
}

.d--none {
  display: none !important;
}

// Color-connect
.row {
  display: flex;
  flex-direction: row;
}

.tile {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border: 1px solid #d1c6c3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colored-dot {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.colored-dot-start {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.path-tile,
.path-segment {
  width: 100%;
  height: 100%;
}

.board-lines {
  position: absolute;
  top: 0;
  pointer-events: none;
}

.red-path-segment {
  background: rgb(255, 0, 0, 0.2);
}

.yellow-path-segment {
  background: rgb(255, 255, 0, 0.2);
}

.purple-path-segment {
  background: rgb(128, 0, 128, 0.2);
}

.green-path-segment {
  background: rgb(0, 255, 0, 0.2);
}

.blue-path-segment {
  background: rgb(0, 0, 255, 0.2);
}

.mat-tooltip {
  padding: 8px;
  background: black;
  font-size: $small;
}

// Prevent ios adjust text-size
@media screen and (max-height: $mobile-height) {
  body {
    -webkit-text-size-adjust: none;
  }
}
