<div id="background-container"
     [ngClass]='background.cssClass'
     [ngStyle]='configSettings?.background?.style'>
  <img *ngIf="background?.imageBackground?.url"
       [id]='background.imageBackground.id'
       [src]="background.imageBackground.url"
       [ngClass]='background.imageBackground.cssClass'
       [ngStyle]='configSettings?.background?.imageBackground?.style'
       class="image-background"
       alt="background image">

  <ng-container *ngFor="let area of background.blackArea">
    <div
    *ngIf="area.position"
    [id]='area?.id'
    [ngClass]='area?.cssClass'
    style.top='{{area.position.top}}%'
    style.left='{{area.position.left}}%'
    style.right='{{area.position.right}}%'
    style.bottom='{{area.position.bottom}}%'
    ></div>
  </ng-container>  
  
</div>

<div class="tutorial-content">
  <ng-container *ngFor="let zone of asset.clickZone">
    <div
    *ngIf="zone.position"
    [ngClass]='zone?.cssClass'
    style.top='{{zone.position.top}}%'
    style.left='{{zone.position.left}}%'
    style.right='{{zone.position.right}}%'
    style.bottom='{{zone.position.bottom}}%'
    (click)="handelAction($event)"
    ></div>
  </ng-container>

  <div 
    [ngClass]="asset.description.cssClass"
    [ngStyle]='configSettings?.description?.style'
  >
    <span class="title" [ngStyle]='configSettings?.description?.title?.style'>
      {{ asset.description.title }}
    </span>
    <span class="content" [ngStyle]='configSettings?.description?.content?.style'>
      {{ asset.description.content }}
    </span>
  </div>

  <ng-template [ngIf]="asset.buttonNext">
    <button [id]="asset.buttonNext.id"
            [ngClass]="asset.buttonNext.cssClass"
            [ngStyle]='configSettings?.buttonNext?.style'
            (click)="handelAction($event)">
      <span [ngStyle]='configSettings?.buttonNext?.textStyle'>{{ asset.buttonNext.text }}</span>
    </button>
  </ng-template>

</div>

<ng-template [ngIf]="background.animation.configLottie">
  <section #viewContainerRef></section>
</ng-template>
