<div class="board__navigation">
  <div
    id='game-navigation-arrow-left'
    class="clickable navigator prev"
    [class.hidden]="!isLeftNavigatorVisible && !isVisible"
    (mousedown)="scrollLeft($event)">
    <img
      class="default"
      [src]="navArrowUrl"/>
  </div>

  <div
    id='game-navigation-arrow-right'
    class="clickable navigator next"
    [class.hidden]="!isRightNavigatorVisible && !isVisible"
    (mousedown)="scrollRight($event)">
    <img
      class="default"
      [src]="navArrowUrl"/>
  </div>
</div>
