@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

$board-navigation-width: 32px;
$board-navigation-height: 52px;

$board-navigation-width-mobile: $board-navigation-width / 2;

$board-navigation-spacing: 40px;
$board-navigation-spacing-mobile: 16px;


$board-navigation-border-radius: 10px;

.board__navigation {
  .navigator {
    position: fixed;
    top: calc(50% - #{$board-navigation-height} / 2);
    border-radius: $board-navigation-border-radius;

    @include flex();
    transition: 0.25s;
    opacity: 1;
    z-index: 99;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }

    img {
      display: none;

      &.default {
        display: block;
      }
    }
  }

  .prev {
    left: $board-navigation-spacing;
  }

  .next {
    right: $board-navigation-spacing;
    transform: rotate(180deg);
  }

  @media screen and (max-width: 766px) {
    .navigator {
      top: auto;
      bottom: 50vh;

      img {
        width: $board-navigation-width-mobile;
      }
    }

    .prev {
      left: $board-navigation-spacing-mobile;
    }

    .next {
      right: $board-navigation-spacing-mobile;
    }
  }
}
