$width-navigation: 100%;
:host {
  .navigation-back-container {
    position: absolute;
    left: 92.87%;
    right: 4.41%;
    top: 15.28%;
    bottom: 79.28%;
    z-index: 1001;
    display: flex;
    cursor: pointer;

    img {
      width: $width-navigation;
      height: 100%;
    };

    &.isMulti {
      left: 82.05%;
      right: 15.23%;
      top: 15.28%;
      bottom: 79.28%
    }

    &.isMobile {
      left: 84.85%;
      right: 6.59%;
      top: 19.19%;
      bottom: 75.18%;
    }
  }
}

